
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
    background-image: url("img1.jpg");
    background-size: 1600px 800px;
    background-repeat: no-repeat;
}
div{
    font-size: 100px;
    font-weight: bold;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    color: white;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}



